/* Hendrik Tebeng, Andrew Trinh */

body{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

header, footer{
    width: 100%;
    text-align: center;
}

button{
    width: 200px;
    height: 60px;
}

main{
    display: flex;
    flex-flow: column nowrap;
}

div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

img{
    height: 500px;
}

#buttonSection{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#imageSection, #infoSection{
    width: 50%;
}

#imageSection{
    text-align: center;
}

button:hover{
    background-color: black;
    color: white;
}

button:active{
    background-color: peru;
}